body{
	background: url('../images/apple.jpg');
    background-size: cover;
}

.nav li{
	float: left;
	list-style: none;
}



.nav li a{
	color: white;
	font-size: 25px;
	text-decoration: none;
	margin: 0;
	padding: 10px;
}

#tl{
	clear: both;
	float: left;
	width: 30%;
	margin: 50px 40px;

}

.intro{
	float: left;
	color: rgb(206, 219, 209);
	font-size: 15px;
}

.intro a{
	color:rgb(75, 199, 179);
}
h3{
	color: rgb(153, 231, 165);
	text-decoration: 1px 1px 5px;
}

.intro a:hover{
	background:rgb(75, 199, 179);
	font-size:17px;
	border:double 4px #fff;
	border-radius: 50px;
	color:white;
	-webkit-transition: all 1s;
}

#line a:hover{

	font-size: 15px;
	
}
/*#about1{
color:red;
}*/

#ask {
	float: left;
	list-style: none;
	color: green;
}

.btn li {
  	background: rgb(154, 240, 154);
    border: 5px solid #6A8B09;
    color:#111;
    width: 300px;
    padding: 100px;
    clear: both;
    display: inline-block;
    text-align: center;
    /*float: center;*/
    margin: 80px;
    list-style: none;
    float: left;
    font-size: 30px;

}
.btn  li a{
	color:rgb(19, 100, 60);
	text-decoration: none;
}

