body{
	background: url('../images/apple9.jpg');
    background-size: cover;

}


.nav li{
	float: left;
	list-style: none;
}



.nav li a{
	color: white;
	font-size: 25px;
	text-decoration: none;
	margin: 0;
	padding: 10px;
}
h1{
	margin: 200px;
	padding: 200px;
	font-size: 100px;
	color: white;
	clear: both;

}
